In [7]:
from pathlib import Path
import csv

csvpath = Path("C:/Users/dejay/Documents/UofT/Fintech Bootcamp/python-homework/python-homework/PyBank/budget_data.csv")

In [8]:
import pandas as pd

In [9]:
pd.read_csv("C:/Users/dejay/Documents/UofT/Fintech Bootcamp/python-homework/python-homework/PyBank/budget_data.csv")

        Date  Profit/Losses
0   Jan-2010         867884
1   Feb-2010         984655
2   Mar-2010         322013
3   Apr-2010         -69417
4   May-2010         310503
..       ...            ...
81  Oct-2016         102685
82  Nov-2016         795914
83  Dec-2016          60988
84  Jan-2017         138230
85  Feb-2017         671099

[86 rows x 2 columns]

In [61]:
profit = []
difference_changes = []
change_sum = []
average_change = []

In [62]:
total_Months = 0
increase_profits = ["", 100000000000000]
decrease_profits = ["", 0]

In [63]:
with open(csvpath, 'r') as csvfile:
    print(type(csvfile))
    csvreader = csv.reader(csvfile, delimiter=',')
    header = next(csvreader)
    num_rows = 0
    net_profit = 0
    total_profit_change = 0
    count = 0
    total_profit = 0
    final_profit = 0
    net_change = 0
    previous_net = 0
    print(type(csvfile))
    
    for row in csvreader:
        count = count + 1 
        
        num_rows += 1
        
        total_profit = total_profit + int(row[1])
        
        net_change = int(row[1]) - previous_net
        previous_net = int(row[1])
        average_change = average_change + [net_change]
        
        # profit = int(row[1])

total_changes = (sum (average_change)/count)
    
print ("Total # Months = " + str(num_rows))
print ("Net Total Amount of Profit/Losses = " + "$" + str(total_profit))
print ("Average of the Changes in Profit/Losses = " + "$" + str(int(total_changes)))
# print ("Greatest Increase in Profits = " + str(num_rows))
# print ("Greatest Decrease in Losses = " + str(num_rows))

<class '_io.TextIOWrapper'>
<class '_io.TextIOWrapper'>
Total # Months = 86
Net Total Amount of Profit/Losses = $38382578
Average of the Changes in Profit/Losses = $7803